<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Lieferspatz</title>
</head>
<body>
	<div class="container">
        <header>
            <img src="{{ url_for('static', filename='Lieferspatz_Logo.svg')}}" alt="Lieferspatz Logo" class="center"/>  
            <br>
            <h1>LIEFERSPATZ</h1>
        </header>
        <section class="content">
            <h2>Anmelden oder Registrieren</h2>
			<form action="homepage" method="post">
				<input type="submit" value="Als Kunde registrieren" name="registerClientBtn" class="dark-green-button">
				<input type="submit" value="Als Kunde anmelden" name="loginClientBtn" class="dark-green-button">
				<input type="submit" value="Als Restaurant registrieren" name="registerRestaurantBtn" class="dark-green-button">
				<input type="submit" value="Als Restaurant anmelden" name="loginRestaurantBtn" class="dark-green-button">

			</form>
        </section>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
	
	

	
</body>
</html>	